<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cost_list, "Costs, separated by commas" %><br>
    <%= f.text_field :cost_list %>
  </div>
  <div class="field">
    <%= f.label :level_list, "Levels, separated by commas" %><br>
    <%= f.text_field :level_list %>
  </div>
  <div class="field">
    <%= f.label :type_list, "Types, separated by commas" %><br>
    <%= f.text_field :type_list %>
  </div>
    <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
