<p id="notice"><%= notice %></p>
<% unless @search_phrase.nil? %>
    <h2> Search results for "<%= @search_phrase %> "</h2>
    <% unless @resources_searched.any? %>
      <h2> : unfortunately your search did not match any courses.</h2>
    <% end %>
<% end %>

<aside class="col-md-3" id="aside">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Choose a category
    <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "All categories", categories_path %></li>
    <li role="separator" class="divider"></li>
    <% @categories.each do |category| %>
      <li><%= link_to "#{category.title}", category_slug_path(category.slug) %></li>
    <% end %>
  </ul>
</div>
</aside>

<section class="col-md-9">
   <% if @resources_searched.any? %>
     <%= render 'resources', resources: @resources_searched %>
  <% end %>

<% unless (@resources.nil?) %>
  <h1>Listing Resources</h1>
      <%= render 'resources', resources: @resources %>
<% end %>
</section>
<br>

<%= link_to 'New Resource', new_resource_path %>
<hr />


