<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user.first_name %>
  <strong> |  Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>


<%= link_to 'Edit', "#" %> |
<%= link_to 'Back', "#" %>
